.flynow {
  padding: 150px;
  font-family: 'Titillium Web', sans-serif;
}

.flynow-title {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-left: -1200px;
}

.flynow-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.flynow-desc {
  width: 50%;
  font-size: 1.1rem;
  margin-left: -80px;
}

.flynow-search {
  display: flex;
  gap: 10px;
}

.flynow-search input {
  padding: 8px 12px;
  font-size: 1rem;
  background-color: rgb(49, 48, 48);
  border-radius: 10px;
  border: 1px solid rgb(69, 67, 67); 
}

.flynow-search button {
  padding: 8px 16px;
  background-color: rgb(49, 48, 48);
  color: rgb(169, 163, 163);
  border: 2;
  cursor: pointer;
  border-radius: 10px;
   border: 1px solid rgb(69, 67, 67); 
}

.flynow-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.flynow-card {
  background-color:hsl(253, 38%, 9%) ;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  
}

.flight-photo {
  position: relative;
}

.flight-photo img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.flight-date {
  position: center;
  top: 182px;
  left: 10px;
  background-color:transparent;
  padding: 4px 8px;
  border-radius: 4px;
}

.flight-info {
  padding: 15px;
}

.flight-times {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.departure, .arrival {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.route-symbol {
  font-size: 0.7rem;
  color: #4CAF50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flight-separator {
  border: 0;
  border-top: 0.5px solid #4CAF50;
  margin: 10px 0;
}

.flight-footer {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1rem;
}
