.flynow-section {
  background: #000;
  padding: 100px 0;
  color: white;
  overflow: hidden;
  padding-top: 2px; /* réduit l'espace en haut pour remonter le contenu */
  position: relative; /* permet aux éléments internes de se positionner par rapport à cette section */
}

.flynow-title {
  font-size: 2.8rem;
  margin-top: 5px; /* ajuste ici pour rapprocher du trait */
  margin-bottom: 90px;
  font-weight: 600;
  text-align: center;          /* centre horizontalement le texte */
  z-index: 1000; /* pour qu’il soit devant le trait */
  color: #a60404;             /* couleur rouge par exemple, à changer selon ton choix */
}
@media screen and (max-width: 768px) {
  .flynow-title {
    margin-top: -10px; /* ajuste pour petit écran */
  }
}

.flynow-carousel {
  overflow: hidden;
  width: 100%;
}

.flynow-track {
  display: flex;
  gap: 30px;
  animation: scroll 25s linear infinite;
}

.flynow-card {
  min-width: 280px;
  background: #0c0c0c;
  border-radius: 18px;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,0.1);
  transition: transform 0.4s ease;
}

.flynow-card:hover {
  transform: translateY(-6px);
}

.flynow-image {
  height: 180px;
  background-size: cover;
  background-position: center;
}

.flynow-info {
  padding: 16px;
}

.route {
  font-size: 1rem;
  margin-bottom: 6px;
}

.price {
  font-size: 0.9rem;
  color: #c40000;
}

/* Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
