.flynow-section {
  background: #000;
  padding: 100px 0;
  color: white;
  overflow: hidden;
  padding-top: 30px; /* réduit l'espace en haut pour remonter le contenu */
  position: relative; /* permet aux éléments internes de se positionner par rapport à cette section */
}

/* Styles spécifiques pour Fly Now de la Home Page */
.flynow-home .flynow-title {
  font-size: 2.5rem;
  margin: 5px 0 90px 0;   /* marge en haut et bas */
  font-weight: 500;
  text-align: center;      /* centre le texte dans la section */
  color:#c40000;          /* couleur rouge */
}

@media screen and (max-width: 768px) {
  .flynow-title {
    margin-top: -10px; /* ajuste pour petit écran */
  }
}

.flynow-carousel {
  overflow: hidden;
  width: 100%;
}
.custom-next,
.custom-prev {
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  color: rgb(185, 3, 3);
  font-size: 70px; /* grosse flèche */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 10;
}

/* Le truc clé : masquer ::after et mettre le contenu dans le cercle */
.swiper-button-next::after,
.swiper-button-prev::after {
  content: none; /* 🔥 supprime le texte injecté par Swiper */
}

/* Déplacer uniquement le contenu du cercle */
.custom-next span,
.custom-prev span {
  transform: translateY(-8%); /* ajuste ici la flèche */
  display: block;
}


.custom-next { right: 10px; }
.custom-prev { left: 10px; }


/* Optionnel : ajuster la taille du slide pour swiper */
.flynow-slide {
  width: 250px; /* ou auto selon design */
}

.flynow-track {
  display: flex;
  gap: 30px;
  animation: scroll 25s linear infinite;
}

.flynow-card {
  min-width: 280px;
  background: #0c0c0c;
  border-radius: 18px;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,0.1);
  transition: transform 0.4s ease;
}

.flynow-card:hover {
  transform: translateY(-6px);
}

.flynow-image {
  height: 180px;
  background-size: cover;
  background-position: center;
}

.flynow-info {
  padding: 16px;
}

.route {
  font-size: 1rem;
  margin-bottom: 6px;
}

.price {
  font-size: 0.9rem;
  color: #c40000;
}

/* Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
