* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-family: "Titillium Web", system-ui, sans-serif;
  background-color: #000000;
  color: #989696;
}

.display {
  background-color: #000000; /* fond noir sous le header */
  min-height: 100vh;
  padding-top: 50px; /* espace pour le header fixe */
  color: white;
}

  